<table class="ui table is-narrow is-striped">
  <thead>
    <thead>
      <% attrs.map{|el| el[:label] }.each do |label| %>
        <td><%= label %></td>
      <% end %>
    </thead>
  </thead>
  <tbody>
    <% collection.each do |element| %>
      <tr>
        <% attrs.map{|el| el[:value] }.each do |attr| %>
          <td><%= element.send(attr) rescue raw attr.call(element) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
